$colorwhite: #ffffff;
$background-color: #f6fafd;
$bg-sidebar: #eaeef4;
$gray-50: #d6e1e6;
$gray-70: #7e92a2;
$gray-90: #526477;
$gray-10: #f6fafd;
$gray-30: #eaeef4;
$gray-20: #ecf0f5;
$bluecolor: #514ef3;
$bluecolor-active: rgb(12, 11, 44) 3;
$blueHover: #020091;
$navy: #092c4c;
$blue-light: #ececfe;
$primary-green: #2dc8a8;
$primary-pink: #fe8084;
